body {
  width: 357px;
  height: 600px;
}

.border-radius-32 {
  border-radius: 32px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-fill {
  flex-grow: 1;
}

.use-button {
  height: 25px;
  width: 60px;
}
