body {
  width: 346px;
  height: 600px;
}

.border-radius-18 {
  border-radius: 18px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-fill {
  flex-grow: 1;
}

.use-button {
  width: 60px;
}